
.btn {
    font-size: var(--text-lg);
    background-color: var(--clr-green-900);
    color: var(--clr-white);
    border-radius: var(--rounded-xs);
    padding: 0.4em 1.6em;
    border: transparent;
    outline-color: 2px solid var(--clr-green-900);
    cursor: pointer;

    &:hover, &:focus {
        color: var(--clr-green-900);
    }

    &:hover {
        background-color: var(--clr-green-200);
        
    }

    &:focus {
        background-color: var(--clr-green-400);
    }

    &[aria-checked=true] {
        color: var(--clr-green-900);
        background-color: var(--clr-green-400)
    }
}

.reset-btn {
    font-size: var(--text-md);
    color: var(--clr-green-900);
    background-color: var(--clr-green-400);
    text-transform: uppercase;

    &:disabled {
        color: var(--clr-green-800);
        background-color: var(--clr-green-750);
    }
}