
.tip-form__input {
    display: block;
    color: var(--clr-green-900);
    background-color: var(--clr-grey-50);
    margin-top: var(--space-100);
    border: transparent;
    text-align: end;
    width: 100%;
    padding: var(--space-100) var(--space-200);
    outline-color: var(--clr-green-400);
    cursor: pointer;
    font-size: var(--text-lg);
    background-repeat: no-repeat;
    background-position: 15px center;
    background-size: 15px;

    &::placeholder {
        color: var(--clr-grey-550);
    }
}

.bill-input {
    background-image: url("../../images/icon-dollar.svg");
}

.pax-input {
    background-image: url("../../images/icon-person.svg");
}

.custom-input {
    text-align: center;
}

.input-description-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.error-message {
    color: var(--clr-orange-400);
}